.maintop {
  background-color: rgb(156, 109, 143);
  margin-top: 0px;
  padding: 30px;
}
.btn-flat {
  border-right: 4px;
  border-bottom: 3px;
  border-left: 0px;
  border-top: 0px;
  border-style: inset;
  border-color: #4640403a;
  background-color: rgb(59, 142, 165) !important;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}
.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
.btn {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 15px;
  margin-left: 20px;
}
.customTextInput {
  border-right: 4px;
  border-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-color: #8080804f;
  border-style: inset;
  border-radius: 20px;

  padding: 1rem 1.5rem;
  font-family: "Love Ya Like A Sister", cursive;
  outline-style: none;
}
.container {
  display: flex;
  justify-content: center;
}
.bottomColor {
  font-family: "Love Ya Like A Sister", cursive;
  background: rgb(59, 142, 165);
  align-self: end;
  width: -webkit-fill-available;
  border-radius: 0 0 40px 40px;
  min-height: 30px;
  margin: -20px;
  justify-content: center;
  text-align: center;
}
.image {
  width: 100px;
  height: 100px;
}
.hiddenText {
  opacity: 0;
}
